html {
  font-size: 10px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 4px;
}

body {
  min-height: 100vh;
  background:  #002423;
  color: whitesmoke;
  font-size: 1.4rem;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}


#image_sound {
  width: 350px;
  border-radius: 50%;
  height: 350px;
  border: 10px solid #afa796;
  margin: auto;
  transition: 1s;
}

.player {
  margin: auto;
  width: 600px;
  background: radial-gradient(#003332, #003332);
  box-shadow: 0px 0px 25px 0px black;
  padding: 2rem;
  border-radius: 2rem;
  transition: 1s;
}

.player:hover {
  box-shadow: 0px 0px 50px 0px black;
}

img {
  width: 50%;
}

#controls {
  border: 1px white solid;
  border-radius: 1rem;
  padding: 1.6rem;
  width: 310px;
  margin: auto;
}

.controls_wrapper > span {
  cursor: pointer;
}

#currentSong {
  overflow: hidden;
}

#songList {
  overflow: hidden;
  text-align: left;
  width: max-content;
  margin: auto;
}

li {
  cursor: pointer;
  padding: 1.5rem;
  transition: 0.25s;
}

li:hover {
  background: #002423;
  border-radius: 5px;
}

progress {
  width: 300px;
  height: 3rem;
  margin-bottom: 1rem;
}

a {
  color: whitesmoke;
}

@media (min-width: 800px) {
  body {
    max-width: 60vw;
    font-size: 1.8rem;
  }
}